.App {
  background-color: #f4f9f9;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sections {
  height: 85vh;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: hidden;
}

.sections > div {
  height: 85vh;
  scroll-snap-align: start;
}

li:hover {
  color: rgb(214, 171, 171);
}
